.inputWrapper {
	position: relative;
}

.input{
	padding: 7px 12px; 
	background-color: var(--white);
	color: var(--black);
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
	border-radius: 5px;
	border: none;
}

.input::placeholder {
	color: var(--gray);
}

.error {
	outline: 2px solid var(--red);
}

.errorMessage {
	position: absolute;
	bottom: -22px;
	left: 15px;
	color: var(--red);
	font-size: 12px;
}