.filled svg{
	fill: var(--primary);
	transition: fill .3s ease-in-out;
}

.star svg{
	margin-right: 5px;
}

.editable {
	cursor: pointer;
}

.ratingWrapper {
	position: relative;
}

.error svg {
	stroke: var(--red);
}

.errorMessage {
	position: absolute;
	bottom: -22px;
	left: 15px;
	color: var(--red);
	font-size: 12px;
}