.firstLevel {
	display: grid;
	align-items: center;
	margin-top: 20px;
	transition: color 0.3s ease-in-out;
	font-size: 18px;
	font-weight: 500;
	line-height: 25px;
	grid-template-columns: 24px 1fr;
	gap: 20px;
}

.firstLevelActive,
.firstLevel:hover {
	color: var(--primary);
}

.firstLevelActive {
	color: var(--primary);
}

.firstLevelActive svg,
.firstLevel:hover svg {
	fill: var(--primary);
}

.secondBlock {
	margin-top: 15px;
	margin-left: 12px;
	padding: 0 0 0 32px;
	border-left: 1px solid #DFDFDF;
}

.secondLevel {
	display: block;
	margin-bottom: 13px;
	cursor: pointer;
	text-transform: uppercase;
	color: var(--gray-dark);
	border: none;
	background-color: transparent;
	font-size: 12px;
	font-weight: 300;
}

.secondLevelBlock {
	overflow: hidden;
	padding: 0;
}

.thirdLevel {
	display: block;
	margin-bottom: 10px;
	cursor: pointer;
	transition: color 0.3s ease-in-out;
	color: var(--gray-dark);
	outline-offset: -1px;
	font-size: 14px;
	font-weight: 500;
}

.thirdLevel:hover,
.thirdLevelActive {
	color: var(--primary);
}
