.reviewForm {
	display: grid;
	grid-template-columns: [start] auto 1fr auto [end];
	gap: 20px 30px;
	align-items: center;

	font-size: 14px;
	line-height: 24px;
}

.description, .submit {
	grid-column: start / end;
}

.titleInput {
	justify-self: left;
}

.button {
	margin-right: 15px;
}

.rating {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 20px;
}

.success, .error {
	position: relative;
	padding: 20px;
	margin-top: 20px;
	border-radius: 5px;
}

.success {
	background-color: var(--green-light);
}

.error {
	background-color: var(--red-light);
}

.error .close path{
	stroke: var(--red);
}

.successTitle, .errorTitle {
	font-weight: 700;
}

.close {
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
	background-color: transparent;
	cursor: pointer;
	border: none;
}

@media screen and (max-width: 1100px) {
	.reviewForm {
		grid-template-columns: [start] 1fr 1fr [end];
	}
	.rating {
		grid-column: start / end;
	}
	.titleInput {
		justify-self: normal;
	}
}

@media screen and (max-width: 640px) {
	.reviewForm {
		grid-template-columns: [start] 1fr [end];
	}
}