:root {
  --black: #3B434E;
  --white: #fff;
  --gray: #A4A4A4;
  --gray-light: #EBEBEB;
  --gray-dark: #787D85;
  --primary: #7653FC;
  --primary-hover: #6344DF;
  --red: #FC836D;
  --red-light: #FEA291;
  --green: #1DC37E;
  --green-light: #C8F8E4;
  --font-family: 'Noto Sans', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-family);
  color: var(--black);
  background-color: #F5F6F8;
}


a {
  color: inherit;
  text-decoration: none;
}

.visualyHidden {
  position: absolute;

  overflow: hidden;

  width: 0;
  height: 0;
}